In [1]:
#set-unordered,unchangable,unindexed,not allowed duplicates
set1={"apple",10,True,20.5}
print(set1)

{True, 'apple', 10, 20.5}

In [2]:
print(len(set1))
print(type(set1))

4
<class 'set'>

In [5]:
l=[10,20,30,10,20,40]
s=set(l) #set() constucter
print(s)

{40, 10, 20, 30}

In [8]:
#access elements using for loop
set1={"apple",10,True,20.5}
for item in set1:
 print (item)
print("apple" in set1)
print(20 in set1)

True
apple
10
20.5
True
False

In [9]:
#add items
set1={"apple",10,True,20.5}
set1.add(False)
print(set1)

{False, True, 10, 20.5, 'apple'}

In [12]:
#update set
set2={10,20,30}
set1.update(set2) #duplicates are not allowed
print(set1)

{False, True, 10, 20.5, 20, 'apple', 30}

In [16]:
#remove elements
set1={False, True, 10, 20.5, 20, 'apple', 30}
set1.remove(10)
print(set1)
set1.discard(20.5)
print(set1)
set1.pop()
print(set1)
set1.clear()
print(set1)
del set1 #deletes the set object
print(set1)

{False, True, 20.5, 20, 'apple', 30}
{False, True, 20, 'apple', 30}
{True, 20, 'apple', 30}
set()

NameError: name 'set1' is not defined

In [19]:
#join 2 sets using union()
s1={10,20,30}
s2={40,50,10,60}
s3=s1.union(s2)
print(s3)
s3=s3.update(set2)

{50, 20, 40, 10, 60, 30}

In [22]:
#keep only the duplicate values
s1={10,20,30}
s2={40,50,10,60}
s1.intersection_update(s2)
print(s1)
s3=s1.intersection(s2)
print(s3)

{10}
{10}

In [25]:
#unique elements
s1={10,20,30}
s2={40,50,10,60}
#s1.symmetric_difference_update(s2)
#print(s1)
s3=s1.symmetric_difference(s2)
print(s3)

{40, 50, 20, 60, 30}